@font-face {
  font-family: MuliExtraLight;
  src: url('../../assets/fonts/muli/Muli-ExtraLight.ttf');
}
@font-face {
  font-family: MuliExtraLight;
  src: url('../../assets/fonts/muli/Muli-ExtraLight.ttf');
}
@font-face {
  font-family: MuliRegular;
  src: url('../../assets/fonts/muli/Muli-Regular.ttf');
}
@font-face {
  font-family: MuliSemiBold;
  src: url('../../assets/fonts/muli/Muli-SemiBold.ttf');
}
@font-face {
  font-family: MuliSemiBold;
  src: url('../../assets/fonts/muli/Muli-SemiBold.ttf');
}
@font-face {
  font-family: MuliExtraBold;
  src: url('../../assets/fonts/muli/Muli-ExtraBold.ttf');
}
@font-face {
  font-family: MuliBlack;
  src: url('../../assets/fonts/muli/Muli-Black.ttf');
}
