@import './styles.scss';
.BestSavers{
    background: #FFF7E9;
    padding: 100px 0;
    box-sizing: border-box;
    &__container{
        display: flex;
        margin-top: 80px;
    }
    &__item{
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 0 0 6px #00000029;
        border-radius: 10px;
        width: 348px;
        height: 452px;
        margin: 0 6px 20px;
        padding: 20px;
        box-sizing: border-box;
        &__img{
            width: 100%;
            height: 257px;
            object-fit: contain;
        }
        .today_sale{
            width: 90px;
            height: 30px;
            background: $orange 0 0 no-repeat padding-box;
            font-family: 'Mulish', sans-serif;
            border-radius: 17px;
            color: #FFFFFF;
            font: normal normal 700 14px/14px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .today-card_product-title{
            font: normal normal 700 18px/26px;
            font-family: 'Mulish', sans-serif;
            color: #000000;
            margin-bottom: 24px;
        }
        &__container{
            display: flex;
            justify-content: space-between;
            &__left{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: 58px;
                .qtyValue{
                    width: 30px;
                    border: none;
                    text-align: center;
                    outline: none;
                }
                &__title{
                    text-decoration: line-through;
                    font: normal normal 700 18px/26px Mulish;
                }
            }
            &__right{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                height: 58px;
                &__title{
                    font: normal normal 700 18px/26px Mulish;
                    color: #FF0000;
                }
            }
        }
    }
    &__link{
        width: 140px;
        height: 44px;
        background: $orange 0 0 no-repeat padding-box;
        border-radius: 10px;
        text-align: center;
        font: normal normal 600 16px/24px Mulish;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        &__block{
            display: flex;
            justify-content: flex-end;
        }
    }
}



.BestSavers__wrapper{
    margin:  0 auto;
    max-width: 1600px;
    width: calc(100% - 30px);
}

@media (max-width: 1200px) {

}