

.BestSavers__actions {
    width: 100%;
    position: absolute;
    justify-content: space-between;
    gap: -10px;
    display: flex;
    bottom: 10px;
    padding: 10px;
}

.BestSavers__link__button {
    margin-left: 10px;
}

.link {
    color: #fff;
}
.delivery_error{
    color: #000 !important;
}